.exp-component {
  height: 100vh;
  width: 100vw;
  transition: 0.5s;
  background-color: #f7f3ec;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-container {
  /* border: 5px solid #ffff00; */

  position: relative;
  padding: 10px;
  height: 90%;
  width: 80%;
}

.header-txt {
  /* background-color: blue; */

  width: 100%;
  height: auto;
  font-size: 80px;
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
  color: Black;
}

.sub-txt {
  /* background-color: green; */

  width: 100%;
  height: auto;
  font-size: 30px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  padding-bottom: 40px;
  color: Black;
}

.exp-body {
  /* background-color: red; */

  width: 100%;
  height: 75%;
  display: flex;
}

.exp-nav {
  /* background-color: green; */

  height: 100%;
  width: 15%;
}

.exp-nav-btn {
  background-color: transparent;

  width: 100%;
  height: 13%;

  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: left;
  color: Black;

  cursor: pointer;
  border: none;

  border-right: 2px solid rgba(10, 139, 139, 0.1);
}

.exp-nav-btn-active {
  /* background-color: green; */

  color: Black;
  background-color: rgba(8, 131, 131, 0.1);
  border-right: 2px solid #175d8d;
}

@media screen and (min-width: 1024px) {
  .exp-header,
  .header-txt {
    font-size: 50px;
  }

  .sub-txt {
    font-size: 20px;
  }

  .exp-nav-btn {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .exp-container {
    /* border: 5px solid #ffff00; */

    position: relative;
    padding: 10px;
    height: 90%;
    width: 90%;
  }

  .exp-header,
  .header-txt {
    /* background-color: blue; */
    width: 100%;
    height: auto;
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Sans TC", sans-serif;
    color: Black;
  }

  .sub-txt {
    /* background-color: green; */

    width: 100%;
    height: auto;
    font-size: 30px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    padding-bottom: 40px;
    color: Black;
  }

  .exp-body {
    /* background-color: red; */

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .exp-nav {
    /* background-color: green; */

    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .exp-nav-btn {
    /* background-color: blue; */
    /* background-color: transparent; */

    width: 20%;
    height: 100%;

    font-family: "Noto Sans TC", sans-serif;
    font-weight: 600;
    font-size: 8px;
    text-align: center;
    color: Black;

    cursor: pointer;
    border: none;

    border-bottom: 2px solid rgba(10, 139, 139, 0.1);
  }

  .exp-nav-btn-active {
    /* background-color: green; */

    color: Black;
    background-color: rgba(8, 131, 131, 0.1);
    border-bottom: 2px solid #175d8d;
  }
}
