.project-card-component {
  /* border: 3px solid var(--secondary-bg-color); */

  height: 375px;
  width: 330px;
  margin: 30px;

  border-radius: 10px;
  position: relative;

  text-decoration: none;
  transition: 0.2s;
  background-color: rgba(8, 131, 131, 0.1);
  display: flex;
  flex-direction: column;
}

.project-card-header {
  /* background-color: blue; */

  margin: 10px 20px 0px 20px;
  display: flex;
}

.project-card-body {
  /* background-color: red; */

  margin: 0px 20px 0px 20px;
  height: auto;
  display: flex;
}

.project-card-footer {
  /* background-color: green; */
  margin: auto 20px 10px 20px;
}

.project-card-header-sect {
  display: flex;
  justify-content: center;
}

.project-card-body-sect {
  display: flex;
  justify-content: center;
}

.project-card-footer-sect {
  display: flex;
  justify-content: center;
}

.project-card-title {
  align-self: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: Black;
}

.project-card-desc {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  color: Black;
  position: relative;
  top: 20px;
}

.project-card-tech {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: Black;
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 1024px) {
  .project-card-component {
    /* border: 3px solid var(--secondary-bg-color); */

    height: 350px;
    width: 305px;
    margin: 30px;

    border-radius: 10px;
    position: relative;
  }

  .project-card-title {
    font-size: 20px;
  }

  .project-card-desc {
    font-size: 17px;
  }

  .project-card-tech {
    font-size: 15px;
  }
}
