@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;1,500&display=swap');

:root {
  --primary-bg-color: #aad4f3;
  --secondary-bg-color: #86b9df;
  --tertiary-bg-color: #89b2d1;
  --quaternary-bg-color: #175d8d;
  --quinary-bg-color: #104265;

  --primary-txt-color: #89b2d1;
  --secondary-txt-color: #175d8d;
  --tertiary-txt-color: #104265;
  --quaternary-txt-color: #ffffff;

  --thai-font: "Prompt", sans-serif;
  --primary-font: "JetBrains Mono", serif;
  --std-bg-color: #FFFFFF;

  --std-header: 50px;
  --std-subtitle: 30px;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

.header-txt {
  /* background-color: blue; */

  height: auto;
  font-size: 50px;
  font-weight: bold;
  font-family: var(--primary-font);
  color: Black;
}

.sub-txt {
  /* background-color: green; */

  height: auto;
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 300;
  padding-bottom: 40px;
  color: Black;
}

/* Laptop Resolution */
@media screen and (max-width: 1024px) {
  .header-txt {
    font-size: 40px;
  }
  
  .sub-txt {
    font-size: 18px;
  }
}